---
layout: page.njk
---

<h1>{{ title }}</h1>

<div class="challenge"><div class="challenge-reference"><div class="challenge-sticky">

<h2>Reference</h2>

<img src="{{ referenceImage }}" class="border-4 border-sky-400">

</div></div><div class="challenge-objectives">

{{ content | safe }}

</div></div>

<script defer>
  for (const em of document.querySelectorAll(".objectives em")) {
    if (em.textContent.startsWith("/images/")) {
      em.textContent = window.location.origin + em.textContent;
    }
    em.onclick = () => {
      const selection = window.getSelection();
      selection.removeAllRanges();
      selection.selectAllChildren(em);
      document.execCommand("copy");
    };
    em.classList.add("click-to-copy");
  }

  {
    const langs = document.querySelectorAll(".objectives");
    if (langs.length > 1) {
      const languageSelector = document.createElement("p");
      languageSelector.appendChild(document.createTextNode("Language: "));
      langs[0].before(languageSelector);
      const langLinks = new Map();
      for (const [index, div] of Array.from(langs).entries()) {
        if (index > 0) {
          languageSelector.appendChild(document.createTextNode(" · "));
        }
        div.hidden = true;
        const langLink = document.createElement("a");
        const langCode = div.getAttribute("lang");
        langLink.href = `javascript:changeLanguage("${langCode}")`;
        langLink.textContent =
          {
            th: "Thai",
            en: "English",
          }[langCode] || langCode;
        languageSelector.appendChild(langLink);
        langLink.setAttribute("lang", langCode);
        langLink.className = "challenge-language-link";
        langLinks.set(langCode, langLink);
      }
      window.changeLanguage = (lang) => {
        for (const div of langs) {
          div.hidden = div.getAttribute("lang") !== lang;
        }
        for (const langLink of langLinks.values()) {
          langLink.dataset.active = langLink.getAttribute("lang") === lang;
        }
        localStorage.citwLanguage = lang;
      };
      window.changeLanguage(
        (
          Array.from(langs).find(
            (el) => el.getAttribute("lang") === localStorage.citwLanguage
          ) || langs[0]
        ).getAttribute("lang")
      );
    }
  }
</script>

{% if stage %}
  <h2>Stage</h2>
  {% set n = stage | length %}
  <div class="not-prose grid {% if n == 6 %}grid-cols-3 md:grid-cols-6{% endif %} {% if n == 8 %}grid-cols-4 md:grid-cols-8{% endif %} gap-3">
    {% for item in stage %}<a href="https://play.tailwindcss.com/{{ item.code }}?size=540x720" target="_blank" rel="noopener noreferrer"><img src="/images/submissions/{{ item.image }}.webp" class="border-4 border-sky-400"></a>{% endfor %}
  </div>
{% endif %}

{% if audience %}
  <h2>Audience submissions</h2>
  <div class="not-prose grid grid-cols-8 md:grid-cols-12 gap-3">
    {% for item in audience %}<a href="https://play.tailwindcss.com/{{ item.code }}?size=540x720" target="_blank" rel="noopener noreferrer"><img src="/images/submissions/{{ item.image }}.webp" class="border-2 border-sky-400"></a>{% endfor %}
  </div>
{% endif %}