@tailwind base;
@tailwind components;
@tailwind utilities;

.objectives em {
  @apply text-green-300 not-italic;
}

.click-to-copy {
  cursor: pointer;
}

.click-to-copy::before {
  position: absolute;
  content: "Click to copy";
  display: inline-block;
  pointer-events: none;
  transform: translateY(-100%) translateY(8px);
  font-size: 0.8em;
  opacity: 0;
  @apply text-green-300/50;
}

.click-to-copy:hover::before {
  opacity: 1;
}

.challenge {
  @apply flex flex-wrap gap-4 flex-row-reverse;
}

.challenge-reference {
  flex: 1 0 540px;
  max-width: 100%;
}

.challenge-objectives {
  flex: 999999 1 560px;
}

.challenge-sticky {
  position: sticky;
  top: -56px;
}

.challenge-sticky > h2:first-of-type,
.challenge-objectives > h2:first-of-type {
  margin-top: 0;
}